<li>
	{{burger_name}}

	<button class="change-consumed" data-id="{{id}}" data-newconsume="0">
		{{#if devour}}Devoured!{{else}}Devour it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>